html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* background-image: url("./../assets/Images/studydesk2.jpg"); */
}

.slider-container {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  max-height: 500px;
  margin: 40px auto;
  margin-top: 75px;
  position: relative;
  overflow: hidden;
}

.slider {
  position: relative;
}

.slide {
  display: none;
  position: relative;
}

.slide.active {
  display: block;
  animation: fade 0.6s ease-in-out;
}

.slide img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.caption {
  position: absolute;
  bottom: 30px;
  left: 30px;
  background: lab(53.36% 0.75 0.26);
  color: #fff;
  padding: 15px 20px;
  border-radius: 6px;
  max-width: 70%;
}

.caption h2 {
  margin-bottom: 8px;
}

/* Navigation Buttons */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 44px;
  height: 44px;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}
/* 
.nav::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
} */

.prev {
  left: 15px;
}

.prev::before {
  transform: rotate(-135deg);
  margin-left: 16px;
  margin-top: 15px;
}

.next {
  right: 15px;
}

.next::before {
  transform: rotate(45deg);
  margin-left: 14px;
  margin-top: 15px;
}

.nav:hover {
  background: rgba(0, 0, 0, 0.85);
}

/* @keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  } 
}*/

.booking-section {
  text-align: center;
  margin: 50px 20px;

}
.booking-btn {
  display: inline-block;
  padding: 12px 25px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}
