*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-image: url('../assets/Images/bg.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 10px 20px;
}
#navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#navbar a:hover {
    text-decoration: underline;
    color: rgb(35, 154, 223);
}
#logo {
    width: 380px;
    height: 60px;
    background-image: url('../assets/Images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: auto;
}
